.card{
	&-details{
		border-top: 4px solid $card-border-top-color;
		padding: 24px 19px;
		width: 100%;

		&-main{
			color: $card-extract-color;
		}

		&-header{
			display: flex;
			flex-direction: column;
			margin-bottom: 10px;

			&-title{
				font-weight: bold;
				color: $card-title-color;
			}

			&-date{
				font-style: italic;
			}
		}

		&-readmore{
			display: flex;
			justify-content: flex-end;
		}
	}
}