<div class="container-related">
  <h1> {% localize related_posts %} </h1>
  <ul class="post-list">
      {% assign posts = site.posts | sort:"date" | reverse %}
      {% for post in posts %}

        {% for related in page.related limit: site.max_related_posts_num %}

          {% if post.disqus_identifier == related %}
            <li class="post-list-enclosure-2pr">
              <div class="card-details">
                <div class="card-details-header">
                  <span class="card-details-header-title">{{post.title}}</span>
                  <span class="card-details-header-category">
                  {% for category in post.categories %}
                    {{category}}
                  {% endfor %}
                  </span>
                  <span class="card-details-header-date">
                    {% assign dateStrings = post.date | date_to_long_string | split: ' ' %}
                    {% for dateString in dateStrings %}
                      {% assign word = dateString | downcase %}
                      {% capture datatype %} {% typecheck word %} {% endcapture %}
                      {% assign datatype = datatype | strip %}
                      {% if datatype == 'int' %}
                        {{word}}
                      {% else %}
                        {% localize word %}
                      {% endif %}
                    {% endfor %}
                  </span>
                </div>
                <div class="card-details-main">
                  {{post.content | strip_html | truncatewords: 30}}
                </div>
                <div class="card-details-readmore">
                  <a href="{{post.url}}">{% localize readmore %} > </a>
                </div>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
  </ul>
</div>