$global-background: map-get($colors,_blue-global);
$global-text-color: map-get($colors,_white);
$global-logo-text-color: map-get($colors,_green-lime);
$navigation-background: map-get($colors,_blue-global);
$navigation-title-color: map-get($colors,_green-lime);
$navigation-text-color: map-get($colors,_white);
$navigation-mobile-logo-text-color: map-get($colors,_green-lime);
$footer-background: map-get($colors,_blue-header);
$footer-text-color: map-get($colors,_white);
$global-search-background: map-get($colors,_blue-header);
$global-search-text-color: map-get($colors,_white);
$global-search-input-background: map-get($colors,_white);
$global-search-input-text-color: map-get($colors,_black);
$global-search-input-border-color: map-get($colors,_white);
$global-search-submit-button-background: map-get($colors,_blue-global);
$global-search-submit-button-text-color: map-get($colors,_white);
$search-input-background: map-get($colors,_white);
$search-input-text-color: map-get($colors,_black);
$search-input-border-color: map-get($colors,_white);
$search-submit-button-background: map-get($colors,_blue-global);
$search-submit-button-text-color: map-get($colors,_white);
$header-background: map-get($colors,_blue-header);
$header-text-color: map-get($colors,_white);
$body-text-color: map-get($colors,_black);
$view-all-button-border: map-get($colors, _blue-global);
$view-all-button-background: map-get($colors, _white);
$view-all-button-text-color: map-get($colors, _blue-global);
$view-all-button-border-hover: map-get($colors, _blue-global);
$view-all-button-background-hover: map-get($colors, _blue-global);
$view-all-button-text-color-hover: map-get($colors, _white);
$card-border-top-color: map-get($colors,_blue-global);
$card-title-color: map-get($colors,_black);
$card-extract-color: map-get($colors,_black);
$category-background: map-get($colors,_blue-global);
$category-main-color: map-get($colors,_green-lime);
$category-sub-color: map-get($colors,_white);
$archive-border-color: map-get($colors,_blue-header);
$archive-active-page-background: map-get($colors,_white);
$archive-active-page-text-color: map-get($colors,_blue-header);
$archive-inactive-page-background: map-get($colors,_blue-header);
$archive-inactive-page-text-color: map-get($colors,_white);
$archive-prev-next-page-text-color: map-get($colors,_blue-header);