---
layout: post
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navigation.html %}
    <div class="application">
      {% include global.html %}
      {% include search.html %}
      {% include header.html %}
      <section class="wrapper post">
        {{content}}

        {% if page.highlights != false %}
          {% include highlight.html %}
        {% endif %}

        {% if page.comments %}
          {% include comment.html %}
        {% endif %}

      </section>
    </div>
  {% if page.comments %}
  <script id="dsq-count-scr" src="//philsensus.disqus.com/count.js" async></script>
  {% endif %}
  </body>
  {% include footer.html %}
</html>
